@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --color-trestle-50: #ecfdf5;
  --color-trestle-100: #d1fae5;
  --color-trestle-200: #a7f3d0;
  --color-trestle-300: #6ee7b7;
  --color-trestle-400: #34d399;
  --color-trestle-500: #10b981;
  --color-trestle-600: #059669;
  --color-trestle-700: #047857;
  --color-trestle-800: #065f46;
  --color-trestle-900: #064e3b;
  --font-sans: "Inter", "system-ui", "sans-serif";
  --font-display: "Inter", "system-ui", "sans-serif";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}
